{namespace desktop}
/**
 * @param locale
 */
{template .default}
  <html>
    <body>
      <h1> Sites Load Test </h1>
      <p> <strong>Locale:</strong> {$locale} </p>
    </body>
  </html>
{/template}

/**
 * @param locale
 */
{template .url}
    {$locale}-index
{/template}
